*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    height: 0;
    background-color: rgb(199, 199, 199);
}

.padre{
    display: flex;
    gap: 40px;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px
}

.cajas{

    width: 300px;
    height: 560px;
    background-color: white;

}



img{
    width: 100%;
    
}

#T-shirt{
    width: 250px;
    height: 260px;
    margin-left: -25px;
    margin-top: -20px;
}

#Reloj{
    width: 250px;
    height: 250px;
    margin-left: -25px;
    margin-top: -20px;
}


#traviss{
    width: 300px;
    height: 230px;
    margin-left: -50px;
    margin-top: -20px;
}

.Fondo{
    background-color: rgb(209, 209, 209);
    width: 200px;
    height: 200px;
    display: flex;
    border-left: 40px;
    margin-top: 20px;
    justify-self: center;
}

.texto{

 
    color: grey;
    text-align: center;
    margin-top: 40px;

}

.PrimerTex{

    margin-top: 40px;
    font-weight: 500;
    color: black;
    text-align: center;
    font-size: 22px;
}

.precio3{
    margin-top: 30px;

    color: rgb(129, 129, 216);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.precio2{

    margin-top: 30px;
    color: rgba(0, 128, 0, 0.699);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.precio1{
    margin-top: 30px;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.valora{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.boton{
    height: 60px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(184, 184, 202);
    align-items: center;
}

#boton3{
    background-color: rgb(129, 129, 216);
    color: white;
}

#boton2{
    background-color: rgba(0, 128, 0, 0.699);
    color: white;
}

#boton1{
    background-color: black;
    color: white;
}

.cajas:hover .precio1{ 
    color: grey;
}

.cajas:hover #boton1{ 
    background-color: grey;
}

.cajas:hover .precio2{ 
    color: grey;
}

.cajas:hover #boton2{ 
    background-color: grey;
}

.cajas:hover .precio3{ 
    color: grey;
}

.cajas:hover #boton3{ 
    background-color: grey;
}

@media screen and (max-width:768px){
.padre{
   display: flex; 
   justify-content: center;
   flex-direction: column;
}
    
}

